<div id="shorturl-div" class="row">
    <div class="col-xs-12 col-sm-1 col-md-2"></div>
    <div class="col-xs-12 col-sm-10 col-md-8">
        <div class="input-group ">
            <input 
                id              ="input-fullurl" 
                type            ="text" 
                class           ="form-control input_ps popover-input" 
                aria-label      ="..."
                data-toggle     ="popover"
                data-placement  ="top" 
                data-content    ="Some content inside the popover"
                data-trigger    ="manual">

            <div class="input-group-btn">
                <button 
                    id          ="btn-shorten"
                    type        ="button" 
                    class       ="btn btn-default input_ps" >
                    SHORTEN 
                </button>
            </div><!-- /btn-group -->
        </div><!-- /input-group -->
    </div>
    <div class="col-xs-12 col-sm-1 col-md-2"></div>
</div>